/*
ADDAP-EDU STYLE SHEET
Autor:Gabriel De Ioannes Becker
e-mail:gdeioannes@gmail.com

This style sheet is made for the project ADAAP-EDU
from the University of Talca, Chile.
*/



@font-face{
    font-family:Lato;
    src:url(Lato/Lato-light.ttf);
}

body{
    background: #DDD;
}

nav{
	background: #2a243c;
	height: 50px;
	width:100%;
	}

li.boton{
	float:right;
	width:100%;
	padding-right:50px;
	
	}

a{
 margin: 5px   
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size:40px;
	font-weight:600;
	text-align:center;
	margin-top:5%;
}

.Titulo{
	margin:0 auto;
	text-align:center;
	}
.personaje{
	width:100%;
	height:auto;
	margin-top:5%;
	}
	
.nivel{
	width:100%;
	height:auto;
	margin-top:5%;
	}
	
input{
    border-radius: 10px;    
    padding: 10px;
    margin-top: 5px;
    border-style:solid ;
    border-width: 1px;
    border-color: #DDD;
}

button{
    margin-top: 5px;
    border-radius: 10px;    
    padding: 10px;
    margin-top: 5px;
    border-style:solid ;
    border-width: 1px;
    border-color: #DDD;
}

.container{
    font-family: Lato;
    background: white;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 50px;
}

.cover{
    top: 0px;
    left: 0px;
    height: 400px;;
    width: 200px;
    position: fixed;
    opacity: 0.5;
    background: black;
}

.panel-container{
    position: absolute; 
    left: 50%;
}

.panel{
    position: relative;
    left: -50%;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: white;
    border-radius: 10px;
    animation-name: transition-down;
    animation-duration: 2s;
}

@keyframes transition-down {
    from {margin-top: -50px;}
    to {margin-top: 0px;}
}
