/*
ADDAP-EDU STYLE SHEET
Autor:Gabriel De Ioannes Becker
e-mail:gdeioannes@gmail.com

This style sheet is made for the project ADAAP-EDU
from the University of Talca, Chile.
*/



@font-face{
    font-family:Lato;
    src:url(Lato/Lato-light.ttf);
}

body{
    background: #DDD;
}

nav{
	background-image:url(../img/navfondo1.png);
	height: 114px;
	width: 750px;
	margin: 0 auto;
	
	}

li.boton{
	float:right;
	width:100%;
	padding-right:50px;
	
	}

a{
    
 color: #ddd;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size:40px;
	font-weight:600;
	text-align:center;
	margin-top:5%;
	@extend .flipIn
}

.Titulo{
	margin:0 auto;
	text-align:center;
	}
.personaje{
	width:100%;
	height:auto;
	margin-top:5%;
	}
	
.nivel{
	width:100%;
	height:auto;
	margin-top:5%;
	}
	
input{
    border-radius: 10px;    
    padding: 10px;
    margin-top: 5px;
    border-style:solid ;
    border-width: 1px;
    border-color: #DDD;
	width:70%;
}

button{
    margin-top: 5px;
    border-radius: 10px;    
    padding: 10px;
    border-style:solid ;
    border-width: 1px;
    margin-bottom:20px;
	color:#fff;
	background-color: #ce537a;
	font-weight:700;
	padding-left:25px;
	padding-right:25px;
	box-shadow: 2px 2px 1px #9b4263;
}

.container{
    font-family: Lato;
    background: white;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 50px;
	margin-left:auto;
	margin-right:auto;
}

.container2 {
	background-image: url(../img/fondo1.jpg);
	height: auto;
    width: 750px;
    border-radius: 10px;
    
    text-align: center;
    margin: 0 auto;
	}
	
.container3 {
	background-image:url(../img/perfilfondo.jpg);
	height: 1334px;
    width: 750px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
	}

.miperfil{
	margin-top:70px;
	
	}
.avatar{
	float:left;
	margin-left:110px;
	}
	
.perfil{
	float:left;
	margin-top:70px;
	margin-left:50px;
	font-weight:600;
	}
	
	.libros1{
		float:left;
	margin-top:250px;
	margin-left:110px;
	}
	

.eduportada{
	align-content:center;
	}

.cabezalogin{
	align-content:center;
	margin-left:-20px;
	}

.formulario{
	background:#C6C6C6;
	width:300px;
	height: auto;
	box-shadow: 10px 10px 5px #888888;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	align-content:center;
	border-radius: 10px;
	
	
}

.cover{
    top: 0px;
    left: 0px;
    height: 400px;;
    width: 200px;
    position: fixed;
    opacity: 0.5;
    background: black;
}

.panel-container{
    position: absolute; 
    left: 50%;
}

.panel{
    position: relative;
    left: -50%;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: white;
    border-radius: 10px;
    animation-name: transition-down;
    animation-duration: 2s;
}

@keyframes transition-down {
    from {margin-top: -50px;}
    to {margin-top: 0px;}
}


/*  ACORDION
=====================*/
#accordion{margin:100px auto;width:400px;}
#accordion ul{list-style:none;margin:0;padding:0;}
.accordion{display:none;}
.accordion:target{display:block;}
#accordion ul li a{text-decoration:none;display:block;padding:10px;}
.accordion{padding:4px;}


/*  COLORES
====================*/
#accordion ul{
/*box-shadow*/
-webkit-box-shadow:0 4px 10px #BDBDBD;
   -moz-box-shadow:0 4px 10px #BDBDBD;
        box-shadow:0 4px 10px #BDBDBD;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}
#accordion ul li a{
background:#fff;
border-bottom:1px solid #E0E0E0;
color:#999;
}
.accordion{
background:#fdfdfd;
color:#999;
}
.accordion:target{
border-top:3px solid #FFCDCD;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 560px;
	height: 560px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
